.SortOptions {
  background-color: rgba(var(--color-light), 1);
  border: 2px solid rgba(var(--color-dark), 0.5);
  position: absolute;
  top: 100%;
  right: 0;
  width: 80%;
  z-index: 4;
  &__option {
    padding: 0.5rem;
    &:hover {
      background-color: rgba(var(--color-black), 0.05);
    }
  }
  &__option-title {
    text-transform: capitalize;
  }
}
