.primary-button {
  padding: 1rem 3rem;
  border: none;
  border-radius: 2rem;
  text-decoration: none;
  cursor: pointer;
  &:active {
    transform: translatey(0.5rem);
  }
  &--dark {
    background-color: rgba(var(--color-primary), 1);
    color: rgba(var(--color-light), 1);
    transition: all 200ms ease-in;
    &:hover {
      filter: contrast(1.55);
    }
  }
}
