.primary-button {
  padding: 1rem 3rem;
  border: none;
  border-radius: 2rem;
  text-decoration: none;
  cursor: pointer;
  &:active {
    transform: translatey(0.5rem);
  }
  &--dark {
    background-color: rgba(var(--color-primary), 1);
    color: rgba(var(--color-light), 1);
    transition: all 200ms ease-in;
    &:hover {
      filter: contrast(1.55);
    }
  }
}

.icon-button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: rgba(var(--color-black), 0.2);
  }
  .icon {
    color: rgba(var(--color-dark), 1);
  }
}
