@use "../../styles/abstracts";

.Sidebar {
  &__item {
    display: flex;
    border-radius: 1rem;
    position: relative;
    &:hover {
      background-color: rgba(var(--color-primary), 0.1);
    }
  }
  &__item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem 1rem 1rem;
  }
  &__link {
    display: flex;
    flex: 1 0 0;
    text-decoration: none;
    align-items: center;
    color: rgba(var(--color-dark), 1);
    font-weight: 400;
  }
  &__icon {
    margin-right: 1rem;
    font-size: 2.5rem;
    &--mailbox {
      color: purple;
    }
    &--calendar {
      color: green;
    }
    &--upcoming-calendar {
      color: rgb(74, 132, 226);
    }
    &--document {
      font-size: 1.8rem;
    }
  }
  &__name {
    margin-right: 0.5rem;
  }
  &__count {
    font-weight: 400;
    font-size: 1.4rem;
    color: rgba(var(--color-primary), 1);
  }
  .EllipsesButton {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translatey(-50%);
  }
  .ProjectUpdateOptions {
    position: absolute;
    z-index: 1;
    top: 80%;
    right: -5rem;
    @include abstracts.respondMax(abstracts.$mobile-large) {
      right: 2rem;
    }
  }
}
