.Entry {
  background-color: rgba(var(--color-primary), 0.2);
  height: 100%;
  padding: 8rem 0rem 10rem 0rem;
  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.EntryForm {
  background-color: rgba(var(--color-light), 1);
  width: 45rem;
  padding: 2rem;
  border: var(--form-border);
  border-radius: 10px;
  &__title {
    font-weight: 600;
    font-size: var(--fs-600);
  }
  &__group {
    display: flex;
    flex-direction: column;
    &:not(:first-child) {
      margin-top: 2rem;
    }
  }
  &__input-label {
    font-size: var(--fs-400);
    font-weight: 600;
    text-transform: capitalize;
    &::after {
      content: ":";
    }
  }
  &__input-container {
    position: relative;
    margin-top: 0.5rem;
  }

  &__input {
    padding: 0.5rem;
    padding-right: 4rem;
    border-radius: 5px;
    border: var(--form-border);
    width: 100%;
    &--error {
      border-color: var(--color-error);
    }
  }
  &__input-icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    font-size: 2rem;
    color: var(--color-error);
    transform: translatey(-50%);
    display: none;
    &--error {
      display: block;
    }
  }
  &__button {
    font-size: var(--fs-500);
  }
  &__info {
    border-top: var(--form-border);
    margin-top: 3rem;
    padding: 3rem 0rem;
    text-align: center;
  }
  &__link {
    color: rgba(var(--color-primary), 1);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
