.SidebarPage {
  &__background {
    background-color: rgba(var(--color-black), 0.5);
    position: absolute;
    top: 0rem;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }

  .Sidebar {
    height: 100%;
    width: 30rem;
    position: absolute;
    top: 0rem;
    left: 0rem;
    z-index: 6;
  }
}
