.outer {
  width: 150px;
  height: 200px;
  background-color: orange;
}

.inner {
  width: 100px;
  height: 100px;
  background-color: blue;
}

.inner-inner {
  width: 60px;
  height: 60px;
  background-color: red;
}
