.LandingPage {
  background-image: url("../../images/workplace-background.jpg"),
    linear-gradient(
      to right,
      rgba(var(--color-primary-light), 1),
      rgba(var(--color-primary-light), 1)
    );
  background-blend-mode: hard-light;
  background-size: cover;
  background-position: center;

  &__main {
    padding-top: 5rem;
    flex-grow: 1;
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      margin-top: 3rem;
    }
  }
  &__header {
    text-align: center;
    font-family: var(--ff-primary);
    font-size: var(--fs-700);
    font-weight: 700;
  }
  &__button {
    font-size: var(--fs-550);
  }
}
