@use "../../styles/abstracts";

.LandingPage {
  background-image: url("../../images/workplace-background-copy.jpg"),
    linear-gradient(
      to right,
      rgba(var(--color-primary-light), 1),
      rgba(var(--color-primary-light), 1)
    );
  background-blend-mode: hard-light;
  background-size: cover;
  background-position: center;

  @include abstracts.respondMax(abstracts.$tablet) {
    background-position: left -45rem top;
  }

  &__main {
    padding-top: 5rem;
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__header {
    text-align: center;
    font-family: var(--ff-primary);
    font-size: var(--fs-700);
    font-weight: 700;
  }
  &__button {
    margin-top: 2rem;
    font-size: var(--fs-550);
  }
}
