@keyframes slideDown {
  0% {
    top: -50%;
  }
  100% {
    top: 4rem;
  }
}

@keyframes slideUp {
  0% {
    bottom: -150%;
  }
  100% {
    bottom: 2.5rem;
  }
}
@keyframes rollToRight {
  0% {
    position: absolute;
    left: -100rem;
  }
  100% {
    position: absolute;
    left: 0rem;
  }
}

@keyframes rollToLeft {
  0% {
    position: absolute;
    left: 0;
  }
  100% {
    position: absolute;
    left: -1000px;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
