:root {
  //colors
  --color-primary: 108, 186, 198;
  --color-primary-light: 226, 236, 233;

  --color-dark: 35, 80, 88;
  --color-light: 255, 255, 255;
  --color-black: 0, 0, 0;
  --color-error: red;
  //font-family
  --ff-primary: "Inter", sans-serif;

  //font-size
  --fs-700: 5rem;
  --fs-600: 3rem;
  --fs-550: 2rem;
  --fs-500: 1.8rem;
  --fs-450: 1.6rem;
  --fs-400: 1.4rem;

  //other
  --form-border: 1px solid rgba(var(--color-dark), 0.25);
}
html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  font-family: var(--ff-primary);
  color: rgba(var(--color-dark), 1);
  font-size: var(--fs-450);
  min-height: 100vh;
  line-height: 1.5;
  box-sizing: border-box;
  display: grid;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
