//////layout
.container {
  max-width: 110rem;
  padding: 0rem 4rem;
  margin: 0 auto;
  height: 100%;
}

.full-wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.stretch-vertical {
  flex-grow: 1;
}

.align-right {
  text-align: right;
}
.full-width {
  width: 100%;
}
//colors
.color-primary {
  color: rgba(var(--color-primary), 1);
}

.color-light {
  color: rgba(var(--color-light), 1);
}
.color-error {
  color: var(--color-error);
}

//text
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}

.center-text {
  text-align: center;
}
