@use "../../styles/abstracts";
.Todos {
  &__content {
    padding: 2rem 5rem;
    position: relative;
    @include abstracts.respondMax(abstracts.$tablet-small) {
      padding: 2rem 3rem;
    }
  }
  &__heading {
    display: flex;
    flex-direction: column;
  }
  &__filter-and-sort {
    margin-left: auto;
    display: flex;
  }
  &__adjustment-group {
    position: relative;
    .Filters,
    .Sort {
      position: absolute;
      top: 100%;
      right: 0%;
      z-index: 500;
    }
    .Filters {
      @include abstracts.respondMax(abstracts.$mobile) {
        right: -5rem;
      }
    }
  }

  &__action-button {
    padding: 1rem;
    @include abstracts.respondMax(abstracts.$mobile) {
      padding: 1rem 0.5rem;
    }
    color: rgba(var(--color-black), 0.4);
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: rgba(var(--color-black), 0.1);
    }
  }
  &__action-button-text {
    margin-left: 0.5rem;
  }
  &__error-message {
    margin-top: 3rem;
  }
  &__content .AddTaskButton {
    margin-top: 2rem;
  }
}

.Todos__heading + .TaskCard {
  margin-top: 5rem;
}
