.Todos {
  &__content {
    padding: 2rem 5rem;
    position: relative;
  }
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__filter-and-sort {
    display: flex;
  }
  &__action-button {
    padding: 1rem;
    color: rgba(var(--color-black), 0.4);
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: rgba(var(--color-black), 0.1);
    }
  }
  &__action-button-text {
    margin-left: 0.5rem;
  }
  &__error-message {
    margin-top: 3rem;
  }
  &__content .AddTaskButton {
    margin-top: 2rem;
  }
}

.Todos__heading + .TaskCard {
  margin-top: 5rem;
}
